:root {
  --bg: #212121;
  --bg-2: #000000;
  --text: #ffffff;
  --text-2: #aaaaaa;
  --accent: #cc0000;
}

.video-main {
  display: flex;
  max-width: 1114px;
  margin: 0 auto;
}

.video-content {
  padding: 24px;
  margin: 0;
}
